<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/ico" href="images/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Athiti|Courgette|Yellowtail" rel="stylesheet">
  </head>
  <body>

  <div id="header" class="fixwidth">

      <div id="meni">
          <a href="javascript:void(0);" class="icon" onclick="openNav()">&#9776;</a>
      </div>

      <div id="logo">
          <img class="rotated90" src="images/bokundablue.png" alt="AxeCoding logo">

      </div>

      <div id="social">
          <a href="https://www.facebook.com/bokunda/" target="_blank"><img class="rotate360" src="images/icons/fb.png" alt="facebook"></a>
          <a href="https://www.youtube.com/channel/UC-DAqJ0hgXrFV5w8a14m3xQ?view_as=subscriber" target="_blank"><img class="rotate360" src="images/icons/yt.png" alt="youtube"></a>
          <a href="https://www.instagram.com/bokunda" target="_blank"><img class="rotate360" src="images/icons/in.png" alt="facebook"></a>
      </div>

      <div id="pretraga">
          <iframe src="https://duckduckgo.com/search.html?prefill=DuckDuckGo pretraga" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>
      </div>
  </div>
    {{{body}}}
  </body>
</html>
